@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@200&family=Kaushan+Script&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  background-color: #e9f3d0;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  will-change: "background";
}

html {
  scroll-behavior: smooth;
}

body.promos {
  background-color: #d8e178;
}

header {
  padding: 10px;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  background-color: #e9f3d098;
}

header .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav .navlogo {
  padding: 5px;
  color: #e9f3d0;
  background-color: #2e3812;
  border-radius: 50px;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5;
          flex: 0.5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Kaushan Script", cursive;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  cursor: default;
}

header .nav .navigation {
  font-family: "Encode Sans Expanded", sans-serif;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .nav .navigation a {
  cursor: pointer;
  color: #2e3812;
  text-decoration: none;
}

.container {
  width: 100%;
}

.banner {
  width: 100%;
  margin-bottom: 0;
  margin-top: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.banner .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .title h1 {
  font-family: "Kaushan Script", cursive;
  color: #2e3812;
  font-size: 8vw;
  text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.329);
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(800px) rotateY(-25deg);
          transform: perspective(800px) rotateY(-25deg);
}

.banner .title h3 {
  font-family: "Encode Sans Expanded", sans-serif;
  color: #e9f3d0;
  background-color: #2e3812;
  padding: 8px;
  border-radius: 50px;
  -webkit-animation: subtitle 1s infinite ease-in-out alternate;
          animation: subtitle 1s infinite ease-in-out alternate;
}

.banner svg {
  width: 100%;
}

.banner .image {
  padding: 35px;
  background-image: url("../images/vector1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

.banner .image img {
  position: relative;
  max-width: 400px;
  width: 400px;
  border-radius: 100%;
  padding: 20px;
  border: 3px dashed #2e3812;
  -webkit-animation: rotation 7s infinite linear;
          animation: rotation 7s infinite linear;
}

.products {
  background-color: #2e3812;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.products h1 {
  text-shadow: 4px 5px 5px rgba(0, 0, 0, 0.144);
  word-break: break-all;
  width: 15%;
  font-weight: bolder;
  letter-spacing: 3px;
  color: #d8e178;
  font-size: 18vh;
  font-family: "Encode Sans Expanded", sans-serif;
  text-align: center;
}

.products .products-items {
  margin: 9vh 0 0 3vw;
  border-left: 2px dashed #d8e178;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("../images/vector.png");
  background-blend-mode: multiply;
  background-size: 600px;
  background-repeat: no-repeat;
  background-position: center;
}

.products .products-items .items {
  height: 100%;
  margin: 2vw;
}

.products .products-items .items img {
  -webkit-animation: rotation 5s infinite linear;
          animation: rotation 5s infinite linear;
  width: 300px;
  -o-object-fit: contain;
     object-fit: contain;
}

.wave1 {
  margin-bottom: -20px;
}

.wavesss {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  position: relative;
  margin-bottom: 10px;
}

.promo {
  text-align: center;
  font-family: "Encode Sans Expanded", sans-serif;
  color: #2e3812;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo span {
  font-family: "Kaushan Script", cursive;
}

.spanline {
  width: 0;
  border-top: 5px dashed #2e3812;
  height: 20px;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
}

.spanline.scrl {
  width: 100%;
}

.about {
  padding: 20px;
  margin: 20vw 2vw 20vw 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-title {
  font-family: "Kaushan Script", cursive;
  text-align: center;
  font-size: 40px;
  color: #e9f3d0;
  background-color: #2e3812;
  border-radius: 50px;
  width: 200px;
  padding: 10px;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.about .about-title.now {
  position: relative;
  font-size: 80px;
  background-color: transparent;
  color: transparent;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform: perspective(1000px) rotateY(-30deg) rotateX(5deg);
          transform: perspective(1000px) rotateY(-30deg) rotateX(5deg);
  text-shadow: 20px 15px 1px rgba(0, 0, 0, 0.144);
  background-color: #2e3812;
  color: #e9f3d0;
}

.about .about-body {
  margin-top: 5vh;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  font-size: 20px;
  font-family: "Encode Sans Expanded", sans-serif;
  color: #e9f3d0;
  padding: 10px;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

.about .about-body.now {
  height: 100%;
  color: #2e3812;
}

.contactus {
  background-color: #2e3812;
  padding: 15px;
  background-image: url("../images/vector.png");
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
}

button {
  background-color: #2e3812;
  color: #e9f3d0;
  border: 1px solid #e9f3d0;
  border-radius: 10px;
  padding: 10px;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  font-family: "Encode Sans Expanded", sans-serif;
  margin: 0 2vw;
}

.form-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2vh 0;
  font-family: "Encode Sans Expanded", sans-serif;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form-items label {
  margin: 1.5vh 0;
  color: #e9f3d0;
}

.form-items .in-cont {
  background-color: #e9f3d0f5;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.144);
          box-shadow: 0 0 3px rgba(0, 0, 0, 0.144);
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px;
  margin: 0 1.5vw;
  width: 30%;
  color: #2e3812;
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: bold;
}

.form-items textarea {
  outline: none;
  border-radius: 20px;
  padding: 15px;
  color: #2e3812;
  font-family: "Encode Sans Expanded", sans-serif;
  margin: 0 2vw;
  width: 70%;
  resize: vertical;
  background-color: #e9f3d0f5;
}

footer {
  background-color: #2e3812;
  padding: 15px;
  color: #d8e178;
  text-align: center;
  font-family: "Encode Sans Expanded", sans-serif;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@media screen and (max-width: 768px) {
  .in-cont {
    width: 35%;
  }
  textarea {
    width: 80%;
  }
}

@media screen and (max-width: 600px) {
  .in-cont {
    width: 45%;
  }
  textarea {
    width: 90%;
  }
}

@-webkit-keyframes subtitle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes subtitle {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}
/*# sourceMappingURL=index.css.map */