@import "style";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: $dm;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
  height: 8vh;
  position: absolute;

  .header-logo {
    font-family: $font1;
    color: $lm;
    text-decoration: none;
  }
  nav {
    a {
      color: $w;
      text-decoration: none;
      font-family: $font2;
      font-size: 3vh;
      margin: 0 2.5vw;
      &:hover {
        color: $lm;
      }
    }
  }
}

#home {
  display: flex;
  height: 100vh;
  flex-wrap: wrap;
  background-image: url("../images/vector.png");
  background-position: center;
  background-color: $dm;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: contain;
  .greeting {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 2vw;
    h1 {
      font-family: $font1;
      color: $w;
      font-size: 7vh;
    }
    .matchasss {
      color: $ym;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 0.295);
    }
    h4 {
      color: $w;
      font-family: $font2;
      width: 60%;
    }
  }
  .image-greeting {
    margin: 7vh 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
    width: 40vw;
    background-position: center;
    transition-property: none;
    background-repeat: no-repeat;
    background-size: cover;
    animation: bghomeanim 10s;
    background-image: url("../../menu/7f90fdb38564af5a81408927f22f8ca364a3bcd7_s1_n1.jpg");
  }
}
#home-details {
  background-color: $w;
  padding-bottom: 4vh;
  h1 {
    font-family: $font2;
    width: 40%;
    display: flex;
  }

  #home-details-contents {
    display: flex;
    justify-content: space-around;
    margin-top: 4vh;
    flex-wrap: wrap;
    .content {
      display: flex;
      margin: 3vh 0;
      width: fit-content;
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.171);
      align-items: center;
      width: fit-content;
      padding: 10px;
      p {
        font-family: $font2;
        color: $c;

        margin-left: 2vw;
      }
      img {
        width: 200px;
        object-fit: cover;
        transition: 0.4s ease-out;
        box-shadow: inset 0 0 0 $w;
      }
    }
    .content:hover img{
        height: max-content;
        box-shadow: inset 200px 0 0 $g;
    }
  }
}

#menu {
  background-color: $m;
    background-image: url('../images/vector1.png');
    background-size: cover;
    background-repeat: no-repeat;
  height: 100vh;
  border-top: 1px solid $m;
  padding-top: 3vh;
  h2 {
    text-align: center;
    font-family: $font2;
    font-weight: bold;
    padding-top: 20px;
    font-size: 6vh;
    color: $w;
  }
  .menu-cont {
    display: flex;
    flex-wrap: wrap;
    margin-top: 4vh;
    justify-content: space-around;
  }
 .menus{
     background-color: $w;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin: 2vh 2vw;
     padding: 10px;
     border-radius: 8%;
     width: 16rem;
     box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
     img{
         object-fit: contain;
         width: 12rem;
         transition: 0.5s all ease-in-out;
     }
     &:hover img{
         transform: scale(1.05);
     }
     &:hover{
         background-color: $g;
     }
 }
  h5 {
    color: $c;
  }
}

#locations {
  height: 70vh;
  background-color: #efeede6e;
  background-image: url("../../menu/6a00d8358081ff69e2017c3712af65970b-800wi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font1;
  color: $c;
  .location{
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
    }
    .bi {
      transition: 0.3s all ease-in-out;
    font-size: 5vh;
  }
  .location:hover .bi{
      transform: scale(1.2);
      color: $m;
      text-shadow: 0 0 20px $ym;
  }
}

footer {
  display: flex;
  height: 50vh;
  padding: 15px;
  justify-content: space-between;

  .nav-footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 3vw;
    flex: 0.4;

    a {
      color: $w;
      font-family: $font2;
      text-decoration: none;
      font-size: 3vh;
    }
  }

  .social-media {
    flex: 0.2;
    display: flex;
    flex-direction: column;

    h6 {
      display: block;
      font-family: $font2;
      color: $m;
    }

    .bi {
      color: $w;
      font-size: 3vh;
      margin: 3vh 0;
    }
  }

  .copyright {
    flex: 0.4;
    display: flex;
    align-self: center;
    flex-direction: column;
    text-align: right;

    .reserved {
      font-family: $font2;
      font-weight: bolder;
      color: $m;
    }

    p {
      font-family: $font2;
      color: $w;
    }
  }
}
@media (max-width: 768px){
  #home {
    .image-greeting {
      width: 100vw;
      background-attachment: fixed;
      background-size: cover;
    }
  }

  #home-details{
    #home-details-content{
      .content{
        img{
          width: 180px;
        }
      }
    }
  }

}

@media (max-width: 600px) {
  #menu{
    height: max-content;
      .menus{
          width: 12rem;
          img{
              width: 10rem;
          }
      }
  }
  #home-details {
    #home-details-content {
      .content {
        img {
          width: 150px;
        }
      }
    }
  }
}

@keyframes bghomeanim{
    0%{
        transform-origin: left center;
        opacity: 0;
        background-size: cover;
    }
    20%{
        opacity: 1;
    }
}