@import url("https://fonts.googleapis.com/css2?family=Chango&family=Quicksand&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #2a3d12;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
  height: 8vh;
  position: absolute;
}

header .header-logo {
  font-family: "Chango", cursive;
  color: #B8C65A;
  text-decoration: none;
}

header nav a {
  color: #EFEEDE;
  text-decoration: none;
  font-family: "Quicksand", sans-serif;
  font-size: 3vh;
  margin: 0 2.5vw;
}

header nav a:hover {
  color: #B8C65A;
}

#home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-image: url("../images/vector.png");
  background-position: center;
  background-color: #2a3d12;
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: contain;
}

#home .greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 2vw;
}

#home .greeting h1 {
  font-family: "Chango", cursive;
  color: #EFEEDE;
  font-size: 7vh;
}

#home .greeting .matchasss {
  color: #96B83D;
  text-shadow: 0 5px 5px rgba(0, 0, 0, 0.295);
}

#home .greeting h4 {
  color: #EFEEDE;
  font-family: "Quicksand", sans-serif;
  width: 60%;
}

#home .image-greeting {
  margin: 7vh 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
  width: 40vw;
  background-position: center;
  -webkit-transition-property: none;
  transition-property: none;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-animation: bghomeanim 10s;
          animation: bghomeanim 10s;
  background-image: url("../../menu/7f90fdb38564af5a81408927f22f8ca364a3bcd7_s1_n1.jpg");
}

#home-details {
  background-color: #EFEEDE;
  padding-bottom: 4vh;
}

#home-details h1 {
  font-family: "Quicksand", sans-serif;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#home-details #home-details-contents {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 4vh;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#home-details #home-details-contents .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 3vh 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.171);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.171);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: fit-content;
  padding: 10px;
}

#home-details #home-details-contents .content p {
  font-family: "Quicksand", sans-serif;
  color: #381d0a;
  margin-left: 2vw;
}

#home-details #home-details-contents .content img {
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-box-shadow: inset 0 0 0 #EFEEDE;
          box-shadow: inset 0 0 0 #EFEEDE;
}

#home-details #home-details-contents .content:hover img {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  -webkit-box-shadow: inset 200px 0 0 #dbdac9;
          box-shadow: inset 200px 0 0 #dbdac9;
}

#menu {
  background-color: #455A20;
  background-image: url("../images/vector1.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  border-top: 1px solid #455A20;
  padding-top: 3vh;
}

#menu h2 {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-weight: bold;
  padding-top: 20px;
  font-size: 6vh;
  color: #EFEEDE;
}

#menu .menu-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 4vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#menu .menus {
  background-color: #EFEEDE;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2vh 2vw;
  padding: 10px;
  border-radius: 8%;
  width: 16rem;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.295);
}

#menu .menus img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 12rem;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
}

#menu .menus:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#menu .menus:hover {
  background-color: #dbdac9;
}

#menu h5 {
  color: #381d0a;
}

#locations {
  height: 70vh;
  background-color: #efeede6e;
  background-image: url("../../menu/6a00d8358081ff69e2017c3712af65970b-800wi.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: soft-light;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Chango", cursive;
  color: #381d0a;
}

#locations .location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#locations .bi {
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  font-size: 5vh;
}

#locations .location:hover .bi {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #455A20;
  text-shadow: 0 0 20px #96B83D;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  padding: 15px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .nav-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: 3vw;
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
}

footer .nav-footer a {
  color: #EFEEDE;
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  font-size: 3vh;
}

footer .social-media {
  -webkit-box-flex: 0.2;
      -ms-flex: 0.2;
          flex: 0.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

footer .social-media h6 {
  display: block;
  font-family: "Quicksand", sans-serif;
  color: #455A20;
}

footer .social-media .bi {
  color: #EFEEDE;
  font-size: 3vh;
  margin: 3vh 0;
}

footer .copyright {
  -webkit-box-flex: 0.4;
      -ms-flex: 0.4;
          flex: 0.4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: right;
}

footer .copyright .reserved {
  font-family: "Quicksand", sans-serif;
  font-weight: bolder;
  color: #455A20;
}

footer .copyright p {
  font-family: "Quicksand", sans-serif;
  color: #EFEEDE;
}

@media (max-width: 768px) {
  #home .image-greeting {
    width: 100vw;
    background-attachment: fixed;
    background-size: cover;
  }
  #home-details #home-details-content .content img {
    width: 180px;
  }
}

@media (max-width: 600px) {
  #menu {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
  }
  #menu .menus {
    width: 12rem;
  }
  #menu .menus img {
    width: 10rem;
  }
  #home-details #home-details-content .content img {
    width: 150px;
  }
}

@-webkit-keyframes bghomeanim {
  0% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    opacity: 0;
    background-size: cover;
  }
  20% {
    opacity: 1;
  }
}

@keyframes bghomeanim {
  0% {
    -webkit-transform-origin: left center;
            transform-origin: left center;
    opacity: 0;
    background-size: cover;
  }
  20% {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */