@import url('https://fonts.googleapis.com/css2?family=Chango&family=Quicksand&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
$dm: #2a3d12;
$ym: #96B83D;
$m : #455A20;
$w: #EFEEDE;
$c: #381d0a;
$g: #dbdac9;
$lm: #B8C65A;

$font1: 'Chango', cursive;
$font2: 'Quicksand', sans-serif;
